@import url("global.css");

/* HEADER START */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 1em;
}
.header__profile-pic {
    height: 2.5em;
    width: 2.5em;
    border-radius: 100%;
    object-fit: cover;
}
/* HEADER SLUT */
.wrapper {
    padding: 0 1em 0 1em;
}
.searchbar-container {
	position: relative;
	margin-bottom: 1em;
}
.searchbar {
    box-sizing: border-box;
    width: 100%;
    height: 2.5em;
    border-radius: 15px;
    border: none;
    background-color: #fbfbfb;
    padding-left: 2.5em;
}
.searchbar-icon {
    position: absolute;
    top: 25%;
    left: 0.5em;
    color: #cecece;
}
.grid-container {
	display: grid;
	grid-template-columns: 95% 5%;
}
.alphabet-list {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	position: fixed;
	right: 0;
}
.tracklist__alphabet-letter {
	display: flex;
	justify-content: center;
	border: none;
	background-color: transparent;
}
.all-tracks__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.all-tracks__list a {
	text-decoration: none;
	color: black;
}
.all-tracks__list-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
}
.all-tracks__track {
	margin-bottom: 0.3em;
}
.all-tracks__artist {
	font-size: 0.8em;
	color: #717171;
}