<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/search.css">
    <title>Browse</title>
</head>

<body>

    <header class="header">
        <h1 class="header__title">Search</h1>
        <img class="header__profile-pic" src="img/danielz.jpg">
    </header>

    <main class="wrapper">
        <form method="POST">
            <div class="searchbar-container">
                <i class="searchbar-icon fas fa-search"></i>
                <input id="searchinput" name="searchinput" class="searchbar" type="text" placeholder="Search in store">
            </div>
            <button>Search</button>
        </form>

        <div class="grid-container">
            <div class="all-tracks">
                <ul class="all-tracks__list">
                    <% tracks.forEach(track => { %>
                    <a href="/player/<%- track.id %>">
                        <li class="all-tracks__list-item">
                            <span class="all-tracks__track"><%- track.title %></span>
                            <span class="all-tracks__artist"><%- track.artist %></span>
                        </li>
                    </a>
                    <% }); %>
                </ul>
            </div>
        </div>

    </main>

    <footer>
        <%- include('partials/nav.ejs') %>
    </footer>

    <script src="https://kit.fontawesome.com/ab39bcca60.js"></script>
</body>

</html>